<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612106620649-929tqm3qnik8trmgk7j7anha988ikhik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612106620649-929tqm3qnik8trmgk7j7anha988ikhik</string>
	<key>API_KEY</key>
	<string>AIzaSyCOP16bZCRHdepdX1Okm7hlT7_YjWK_Hk8</string>
	<key>GCM_SENDER_ID</key>
	<string>612106620649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtual.exchange</string>
	<key>PROJECT_ID</key>
	<string>virtual-exchange-b0126</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-exchange-b0126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612106620649:ios:705b4e13282d8714162a78</string>
</dict>
</plist>